fieldset {
  border: 1px solid #3f3f3f;
  background: #303030;
  gap: 1px;
  overflow: hidden;
  border-radius: 1rem;
  padding: 0;
  margin: 0;
  display: -ms-grid;
  display: grid; }
  fieldset .fieldset-items {
    display: -ms-grid;
    display: grid;
    border-bottom: 1px solid #535353;
    -ms-grid-columns: 0.5fr 1fr;
    grid-template-columns: 0.5fr 1fr;
    padding-right: 20px;
    padding-bottom: 10px; }
    fieldset .fieldset-items:focus-within {
      background-color: #1d1c1c; }
      fieldset .fieldset-items:focus-within picture {
        background: palevioletred fixed;
        -webkit-clip-path: circle(40%);
        clip-path: circle(40%); }
    fieldset .fieldset-items:last-of-type {
      border-bottom: 0; }
    fieldset .fieldset-items picture {
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding: 19px 0px 0px 20px;
      width: 45px;
      height: 45px; }
    @media (min-width: 540px) {
      fieldset .fieldset-items {
        padding-right: 40px;
        -ms-grid-columns: 6rem 1fr;
        grid-template-columns: 6rem 1fr;
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
        gap: 1rem; } }
  fieldset .fieldset-items_checkbox {
    margin: -10px -10px 0 0; }
  fieldset .input-stack {
    display: -ms-grid;
    display: grid;
    gap: 7px; }

input[type=range] {
  -webkit-appearance: none;
  position: relative;
  block-size: 3px; }
  input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 2px;
    border: none;
    border-radius: 3px; }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 12px;
    width: 12px;
    border-radius: 510%;
    background: palevioletred;
    border: 2px solid palevioletred;
    margin-top: -5px;
    cursor: pointer; }
  input[type=range]::-webkit-slider-thumb {
    background: palevioletred;
    border-color: palevioletred; }

input[type="checkbox"] {
  block-size: 15px;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  margin: 0 0;
  top: 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  margin: 0;
  outline-offset: 5px; }
  input[type="checkbox"]::before {
    --thumb-scale: .01;
    --thumb-highlight-size: 3rem;
    content: "";
    inline-size: 3rem;
    block-size: 3rem;
    -webkit-clip-path: circle(50%);
    clip-path: circle(50%);
    position: absolute;
    top: 50%;
    left: 50%;
    background: #616060;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(-1px) scale(var(--thumb-scale));
    transform: translateX(-50%) translateY(-50%) translateZ(-1px) scale(var(--thumb-scale));
    will-change: transform; }
  input[type="checkbox"]:hover::before {
    --thumb-scale: 1; }

body {
  color: var(--text1);
  font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif; }

section {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  width: 90%; }

form {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
  gap: 3rem 6rem;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  max-width: 89vw; }

main {
  display: -ms-grid;
  display: grid;
  gap: 25px;
  width: 100%;
  margin: auto;
  place-content: start center; }

h3 {
  font-size: 15px; }

h2 {
  font-size: 25px; }

label {
  font-size: 17px; }
